@{
    ViewBag.Title = "Welcome to your Rental Car Application!";
}

<h2>@ViewBag.Title</h2>
<br>
<h3>@ViewBag.Message</h3>
<br>

<a href='/Car/Index'><button class=button>List Available Cars</button></a>

<img src="~/Content/RentACar.png" title="RentACar" width="408" height="294" align="right">

