<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ListCarsServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="ListCarsServiceSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44344/ListCarsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ListCarsServiceSoap2"
                contract="ListCarServiceReference.ListCarsServiceSoap" name="ListCarsServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>